.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
    margin: 10px 20px;

}
.logo1{
    width: 120px;


}
.stay{
    display: flex;
    gap: 20px;
    
}
.stay1{
    font-size: 20px;

}
.Exp{
    color: gray;
    font-size: 20px;
}
.home{
    display: flex;
    
}
.your{
    font-size: 20px;
    padding: 10px;

}
.worldlogo{
    padding: 10px;

}
.user{
    border: 2px solid lightgray;
    padding: 10px ;
    border-radius: 30px;
    margin-right: 20px;
    margin-left: 20px;

}
.line{

}
.user-logo{
    margin-left: 10px;

}











.searchbar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    border: 2px solid lightgray;
    display: flex;
    padding: 10px 30px;
    border-radius: 40px;
    width: 1000px;
    margin: 0px auto;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.where{
    margin-right: 100px;
}
.check{
    margin-right: 50px;
}
.checkout{
    margin-right: 50px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.who{
margin-right: 150px;
}
.searchlogo{
    

}
